body {
  background: #f7f8fd;
  line-height: 1.5;
  font-family: "Jost", sans-serif;
  color: #546da5;
}

a {
  color: #ad1fea;
}

main {
  padding: 2em;
  max-width: 80rem;
  background: #fff;
  min-height: 100vh;
}
ul,
p,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  color: #1b3c87;
}

.bloc {
  margin-top: 1em;
  border-left: 4px solid #ad1fea;
  padding-left: 0.5em;
}

.section-bloc:not(:first-of-type) {
  margin-top: 3em;
}

.colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 1em;
}

.color {
  padding: 0.5em;
  border: 2px solid #f0f4fb;
  border-radius: 8px;
}
.color:before {
  content: "";
  width: 128px;
  height: 128px;
  border-radius: 8px;
  background: var(--color);
  margin-bottom: 0.5em;
  display: block;
  box-shadow: 0 0 0 2px rgba(#000, 0.2);
}

.sidebar {
  flex: 20%;
  margin-left: 20px;
}

.content {
  flex: 80%;
  margin-left: 10px;
}

.page {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  margin-top: 50px;
}

.block {
  display: block;
  padding: 20px;
  background-color: white;
  margin-bottom: 15px;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  margin-top: 5px;
}

.block-image {
  background-image: url(../gradient.png);
  background-size: contain;
  color: white;
  height: 89px;
}

.tags-row {
  margin-bottom: 20px;
}

.tag {
  background-color: #f2f4ff;
  border-radius: 12px;
  width: 100px;
  padding: 10px;
  margin: 5px;
  width: fit-content;
  display: inline;
  color: #4661e6;
}

.tag-selected {
  background-color: #4661e6;
  color: white;
}
.block-title {
  background-color: #3a4374;
  color: white;
  height: 35px;
}

button {
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.bg-purple {
  background-color: #ad1fea;
  color: white;
}

.first-box-title {
  color: white;
  font-size: 16px;
  display: block;
  margin-top: 40px;
}

.first-box-subtitle {
  color: white;
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.sort-by {
  margin-left: 50px;
  color: #647196;
}

.sort-by-select {
  background-color: #3a4374;
  color: white;
  border: none;
  font-weight: bold;
}

.right {
  float: right;
}

.add-feedback {
  font-size: 13px;
  padding: 5px;
  color: white;
}

.white {
  color: white;
}

.suggestions {
  margin-left: 10px;
}

.roadmap-box {
  display: flex;
}

.col {
  width: 50%;
  flex-direction: column;
}

.col-25 {
  width: 25%;
}

.col-3 {
  width: 33%;
}

.col-80 {
  width: 80%;
}

.col-60{
  width: 60%;
}

.col-10 {
  width: 10%;
}

.d-flex {
  display: flex;
}

.roadmap-title {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.roadmap-list {
  font-size: 14px;
  list-style: none;
  margin-top: 10px;
  color: #647196;
}

.roadmap-list-element-o::before {
  content: "\2022";
  font-size: large;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: 1px;
  color: #f49f85;
}

.roadmap-list-element-p::before {
  content: "\2022";
  font-size: large;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: 1px;
  color: #ad1fea;
}

.roadmap-list-element-b::before {
  content: "\2022";
  font-size: large;
  display: inline-block;
  width: 1em;
  margin-left: 1px;
  color: #62bcfa;
}

.view {
  color: #4661e6;
}

.numbers {
  margin-top: 40px;
  font-size: 18px;
}

.suggestion-box {
  height: 80%;
  width: 50%;

  text-align: center;
  border-radius: 12px;
  padding: 2px;
}

.bg-light{
  background-color: #f2f4ff;
}

.fa-comment {
  color: #f2f4ff;
}

.light {
  font-weight:lighter;
  margin-bottom: 10px;
}


button {
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.5rem;
  padding: 5px;
}

button.edit {
  float: right;
  background-color: #4661e6;
  color: white;
  margin-right: 10px;
  margin-bottom: 20px;
}

.d-inline {
  display: inline;
}

